[submodule "Archived-MITK"]
	path = Archived-MITK
	url = https://github.com/SimVascular/Archived-MITK.git
[submodule ".github"]
	path = .github
	url = https://github.com/SimVascular/.github.git
[submodule "SimVascular"]
	path = SimVascular
	url = https://github.com/SimVascular/SimVascular.git
[submodule "simvascular.github.io"]
	path = simvascular.github.io
	url = https://github.com/SimVascular/simvascular.github.io.git
[submodule "simvascular.github.io-archive"]
	path = simvascular.github.io-archive
	url = https://github.com/SimVascular/simvascular.github.io-archive.git
[submodule "SimVascular-Plugin-Example"]
	path = SimVascular-Plugin-Example
	url = https://github.com/SimVascular/SimVascular-Plugin-Example.git
[submodule "SimVascular-Plugin-Purkinje-Network"]
	path = SimVascular-Plugin-Purkinje-Network
	url = https://github.com/SimVascular/SimVascular-Plugin-Purkinje-Network.git
[submodule "SimVascular-Tests"]
	path = SimVascular-Tests
	url = https://github.com/SimVascular/SimVascular-Tests.git
[submodule "SlicerSimVascular"]
	path = SlicerSimVascular
	url = https://github.com/SimVascular/SlicerSimVascular.git
[submodule "svFSI"]
	path = svFSI
	url = https://github.com/SimVascular/svFSI.git
[submodule "svFSI_archived"]
	path = svFSI_archived
	url = https://github.com/SimVascular/svFSI_archived.git
[submodule "svFSI-Tests"]
	path = svFSI-Tests
	url = https://github.com/SimVascular/svFSI-Tests.git
[submodule "svFSI-Tools"]
	path = svFSI-Tools
	url = https://github.com/SimVascular/svFSI-Tools.git
[submodule "svMorph"]
	path = svMorph
	url = https://github.com/SimVascular/svMorph.git
[submodule "svMorph-Slicer-Extension"]
	path = svMorph-Slicer-Extension
	url = https://github.com/SimVascular/svMorph-Slicer-Extension.git
[submodule "svMultiPhysics"]
	path = svMultiPhysics
	url = https://github.com/SimVascular/svMultiPhysics.git
[submodule "svOneDSolver"]
	path = svOneDSolver
	url = https://github.com/SimVascular/svOneDSolver.git
[submodule "svSolver"]
	path = svSolver
	url = https://github.com/SimVascular/svSolver.git
[submodule "svVascularize"]
	path = svVascularize
	url = https://github.com/SimVascular/svVascularize.git
[submodule "svZeroDSolver"]
	path = svZeroDSolver
	url = https://github.com/SimVascular/svZeroDSolver.git
[submodule "svZeroDSolver-Archived"]
	path = svZeroDSolver-Archived
	url = https://github.com/SimVascular/svZeroDSolver-Archived.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/SimVascular/Tools.git
[submodule "vascularmodel"]
	path = vascularmodel
	url = https://github.com/SimVascular/vascularmodel.git
